TYAlertControllerDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TYAlertControllerDemo.xcodeproj/project.xcworkspace/xcuserdata/lumi.xcuserdatad/UserInterfaceState.xcuserstate
TYAlertControllerDemo.xcodeproj/xcuserdata/lumi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TYAlertControllerDemo.xcodeproj/xcuserdata/lumi.xcuserdatad/xcschemes/xcschememanagement.plist
